/* <!--  .block__element--modifier {}  --> */
/*
0 -       600px        =   Phone                 (max-width)
600 -   900px        =   Tablet portrait      (max-width)
900 -   1200px      =   Tablet landscape  (max-width)
[1200 - 1800px]   is where our normal styles apply
1800px +               =      Big Desk-top   (min-width)

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER RECOMMENDED OF MEDIA QUERIES USAGE:
    base + typography > general layout + grid > page layout >  components

==== ems and rems ARE NOT affected by the root font size setting   DEFAULT comes from the browser, usually 16px ====
1em = 16px
/* @media (max-width: 56.25em) {
			body {
				padding: 0; } } */
/*=====TITLE==========================*/
/* positioning */
/* display + box model */
/* color */
/* text */
/* other */
/* colors

#aaa =
#bbb
#ccc
#ddd
#eee = header, nav
#fff = page
color: blue; = font
*/

* ,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* root font size declared below to allow use of rem's */
html {
	font-size: 62.5%;
/*  @include respond(phone) {  //width < 600?       //1rem = 4.8px    font-size: 30%;}  */
}

body {
		padding: 3rem;   /* gives a white border around the entire page */
		background-color: white;
		color: #111;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.7;
}


/*------------------------------------------------------------------------------------------------------
COLUMN SETUP
------------------------------------------------------------------------------------------------------*/

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 99%;
}
.span_3_of_4 {
	width: 73.6%;
}
.span_2_of_4 {
	width: 48.2%;
}
.span_1_of_4 {
	width: 22.8%;
}
/*  GO FULL WIDTH AT 780 PIXELS */
@media only screen and (max-width: 780px) {
	.col {  margin: 1% 1% 1% 1%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 48%; }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 99%;
}

.span_7_of_8 {
  	width: 86.32%;
}

.span_6_of_8 {
  	width: 73.65%;
}

.span_5_of_8 {
  	width: 60.97%;
}

.span_4_of_8 {
  	width: 48.3%;
}

.span_3_of_8 {
  	width: 35.62%;
}

.span_2_of_8 {
  	width: 22.95%;
}

.span_1_of_8 {
  	width: 10.27%;
}

/*  GO FULL WIDTH AT 780 PIXELS */
@media only screen and (max-width: 780px) {
	.col {  margin: 1% 0% 1% 1%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 48%; }
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0% 1% 1%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}


/*------------------------------------------------------------------------------------------------------*/
/*  REUSABLE COMPONENTS */
/*------------------------------------------------------------------------------------------------------*/

ul {
	padding-left: 0;
}
li {
	padding: 1rem;
	list-style-type: none;
	text-align: center;
}
button, input[type="text"] {
  padding: .5rem;
}
button:hover {
  cursor: pointer;
}

/*----------  HEADINGS  ---------- */
h1 {
	text-align: center;
	background-color: #fff;
	color: #004480;
	font-size: 4rem;
}

/*------------------------------------------------------------------------------------------------------*/
/*  HEADER */
/*------------------------------------------------------------------------------------------------------*/
.header {
	/*border: .5rem purple solid; */
	background-color: #fff;
}
footer {
	border-top: .5rem #aaa solid;
	text-align: center;
	padding-top: 2rem;
}
/*----------  MAIN NAV  ---------- */
.nav {
	margin: 1rem;
	position: relative;
	padding: 2rem;
	background-color: #fff;
	border-bottom: .5rem #aaa solid;

}
.nav__btn,
.nav__select {
	margin: 1rem;
	border-radius: 1rem;
	background-color: #fff;
	border: 1px #aaa solid;
	color: #004480;
	font-size: 2rem;
}
.nav__btn {
	padding: .3rem 1rem;
	float: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-120%, -50%);
}
.nav__select {
	float: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-10%, -50%);
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 480px) {
	.nav  {
    float: none;
		display: block;
		height: 8rem;
	}
	.nav__btn {
		position: absolute;
    top: -40%;
    left: 0%;
	 transform: none;
	 width: 85vw;
	}
	.nav__select {
		position: absolute;
    top: 40%;
    left: 0%;
	 transform: none;
	 width: 85vw;
	 text-align-last:center;
	}
}

/*----------  MOBILE NAV  ---------- */
/*----------  STICKY NAV  ---------- */

/*------------------------------------------------------------------------------------------------------*/
/*  SECTION 1 */
/*------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------*/
/*  default bookmark */
/*------------------------------------------------------------------------------------------------------*/
.row0 { /* default bookmark */
	border: 1px #aaa solid;
	background-color: aliceblue;
	border-radius: 1rem;
}

/*------------------------------------------------------------------------------------------------------*/
/*  expanded bookmark
/*------------------------------------------------------------------------------------------------------*/
.row2 { /* expanded bookmark */
	border: 1px #aaa solid;
	background-color:#eee;
	border-radius: 1rem;
}
.title {
	font-size: 2rem;
	font-weight: bold;
}
.details__rating{
	padding: 0;
}
.desc {
	text-align: left;
	background-color: #fff;
	margin: 2px;
}
.btn {
	border-radius: 1rem;
}
.btn__link {
	float: right;
	margin: 0 1rem 1rem 0;
}
 a:link,
 a:visited,
 a:hover,
 a:active {
text-decoration: none;
}

.btn a:hover,
.btn a:active {
	background-color: #004480;
	color: #fff;
}
.btn__del {
float: left;
margin-left: 1rem;
}
.btn__expand {
	padding: .4rem;
	margin: 1rem 0 0 1rem;
}
/*------------------------------------------------------------------------------------------------------*/
/*  ADD FORM
/*------------------------------------------------------------------------------------------------------*/
.row3 {
	border: 1px #aaa solid;
	background-color: #eee;
	border-radius: 1rem;
}
.form1 {
	position: relative;
	margin: 1rem 0 1rem 1rem;
	border-radius: 1rem;
}
.label1, .input1, .textarea1, .select1, .button1 {
	width: 90%;
	display: block;
}
.input1,
.textarea1 {
	background-color:white;
	border: .1rem #aaa solid;
	height: 2rem;
}
.input1,
 {
	height: 2rem;
}
.label1__rating,
.select1__rating,
.button1__select {
margin-bottom: 1rem;
}
.label1__rating {
	margin: 1.5rem 0 0 1rem;;
	float: left;
	width: 32%
}
.select1__rating {
	float: left;
	margin-top: 1.9rem;
	margin-left: .6rem;
	width: 25%;

}
.button1__select {
	float: right;
	margin-top: 1.5rem ;
	margin-right: 2.2rem;
	width: 25%;
	border-radius: 1rem;
}
