/* <!--  .block__element--modifier {}  --> */
/*
0 -       600px        =   Phone                 (max-width)
600 -   900px        =   Tablet portrait      (max-width)
900 -   1200px      =   Tablet landscape  (max-width)
[1200 - 1800px]   is where our normal styles apply
1800px +               =      Big Desk-top   (min-width)

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER RECOMMENDED OF MEDIA QUERIES USAGE:
    base + typography > general layout + grid > page layout >  components

==== ems and rems ARE NOT affected by the root font size setting   DEFAULT comes from the browser, usually 16px ====
1em = 16px
/* @media (max-width: 56.25em) {
			body {
				padding: 0; } } */
				* ,
				*::before,
				*::after {
					margin: 0;
					padding: 0;
					box-sizing: inherit; }

				/* root font size declared below to allow use of rem's */
				html {
					font-size: 62.5%;
					/*
					@include respond(phone) {  //width < 600?       //1rem = 4.8px
						font-size: 30%;
					}
					*/ }

					body {
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						line-height: 1.7;
						color: #eee;
						/* gives a white border around the entire page */
						padding: 3rem;
						box-sizing: border-box;
					}

				.header {
					border: 1rem purple solid;
				}
				.col span-1-of-4 {
					border: 2rem orange dotted;
				}


				/*------------------------------------------------------------------------------------------------------*/
				/*  REUSABLE COMPONENTS */
				/*------------------------------------------------------------------------------------------------------*/




				/*----------  HEADINGS  ---------- */
				h1 {
					background-color: #888;
					color: red;
				}


				/*----------  PARAGRAPHS  ---------- */



				/*----------  ICONS  ---------- */



				/*----------  LINKS  ---------- */




				/*----------  BUTTONS  ---------- */


				/*------------------------------------------------------------------------------------------------------*/
				/*  HEADER */
				/*------------------------------------------------------------------------------------------------------*/



				/*----------  MAIN NAV  ---------- */


				/*----------  MOBILE NAV  ---------- */


				/*----------  STICKY NAV  ---------- */




				/*------------------------------------------------------------------------------------------------------*/
				/*  SECTION 1 */
				/*------------------------------------------------------------------------------------------------------*/


				/*------------------------------------------------------------------------------------------------------*/
				/*  SECTION 2 */
				/*------------------------------------------------------------------------------------------------------*/


				/*------------------------------------------------------------------------------------------------------*/
				/*  FOOTER */
				/*------------------------------------------------------------------------------------------------------*/
